{% extends "header.html" %}

{% block body %}
    <div class = "container">
        <h4>Přidat Závod</h4>
        <br>
        {% from "macros.jinja" import render_field %}
        <form method=post action="/addCustomEvent/">
            <dl>
                {{render_field(form.time_signup)}}
                {{render_field(form.time_presentation)}}
                {{render_field(form.time_start)}}
                {{render_field(form.place)}}
                {{render_field(form.costAdult)}}
                {{render_field(form.costChild)}}
                {{render_field(form.name)}}
                {{render_field(form.org)}}
                {{render_field(form.sport)}}
                {{render_field(form.typ)}}
                {{render_field(form.discipline)}}
                {{render_field(form.kat)}}
            </dl>
            <p><input type=submit value=Login></p>
        </form>
        
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

    </div>
{% endblock %}