{% extends "header.html" %}

{% block body %}
<div class="container">
    <table>
        <tr><td>{{ event.sport }}</td></tr>
        <tr><td>{{ event.discipline }}</td></tr>
        <tr><td>{{ event.type }}</td></tr>
        <tr><td>{{ event.name }}</td></tr>
        <tr><td>{{ event.org }}</td></tr>
        {% if event.id.startswith("ORIS") %}<tr><td><a href="https://oris.orientacnisporty.cz/Zavod?id={{ event.id[4:] }}" target="_blanc">WEB</a></td></tr>{% endif %}
        <tr><td>{{ event.time_signup }}</td></tr>
        <tr><td>{{ event.time_start }}</td></tr>
        <tr><td>{{ event.place }}</td></tr>
    </table>
</div>
<div class="container">
    <h4>Přihlášení</h4>
    <br>
    {% from "macros.jinja" import render_field %}
    <form method=post action="/event/?id={{event.id}}">
        <dl>
            {{render_field(form.chip)}}
            {{render_field(form.kat)}}
            {% if form.stages.choices != [] %}
                {{render_field(form.stages)}}
            {% endif %}
            {{render_field(form.book)}}
            {{render_field(form.to_organisator)}}
            {{render_field(form.transport)}}
            <span id="with_transport">{{render_field(form.transport_with)}}</span>
            <span id="offer_transport">{{render_field(form.transport_offer)}}</span>
        </dl>
        <p><input type=submit value={% if user_signedup %}"Upravit"{% else %}'Přihlásit se'{% endif %}></p>
    </form>
</div>
    
    {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}
<div class="container">
    <table>
    <tr>
    {% for i in signedup[0] %}
        <th>{{i}}</th>
    {% endfor %}
    </tr>
    {% for user in signedup %}
        <tr>
            {% for i in user %}
                <td>{{user[i]}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <script>
        function myFunction() {
          let box_value = document.getElementById("transport").value;
          if (box_value === "Spolujízda") {
            document.getElementById("with_transport").style.display = "initial"
            document.getElementById("offer_transport").style.display = "none"
          } else if (box_value === "Nabízím") {
            document.getElementById("with_transport").style.display = "none"
            document.getElementById("offer_transport").style.display = "initial"
          } else {
            document.getElementById("with_transport").style.display = "none"
            document.getElementById("offer_transport").style.display = "none"
          }
        }
        myFunction()
    </script>
</div>
{% endblock %}